#banner {
	width: 100%;
	height: 400px;
	background-image: url("../../imgs/banner.jpg");	
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#banner #container {
	background: white;
	width: 80%;
	height: 70%;
	margin: auto;
	position: relative;
	top: 50px;
}
#banner #container #contact, #banner #container #introduction {
	width: 50%;
	border: 1px dashed brown;
	text-align: center;
}

#find-shoes form {
	height: 300px;
	border: dashed 1px brown;
	padding: 15px;
}

#keep-in-touch {
	background: #e9e9e9;
	width: 70%;
	margin: auto;
	border: 1px dashed brown;
}
#keep-in-touch h2 {
	padding: 0 10px;
	color: brown;
}

#search-shoes {
	background: #e9e9e9;
}

@media (max-width: 992px) {
	#banner {
		width: 100%;
	}
	#banner #container {
		width: 90%;
	}

	#find-shoes form {
		height: auto;
	}
}