<link rel="stylesheet" type="text/css" href="dist/css/cart.css">

<section class="ss-row">
	<div id="cart" class="ss-col-9">
			<div id="item" ng-repeat="item in order_details" ng-if="order_details !== undefined">
				<div class="ss-col-9">
					<div class="ss-col-6">
						<img src="{{ item.product.images[0].url }}" width="200" height="200">
					</div>
					<div class="ss-col-6">
						<h3>{{ item.name }}</h3>
						<p>Gender: {{ item.product.gender.name }}</p>
						<p>Size: {{ item.product.size }}</p>
						<p>Color: {{ item.product.color }}</p>
						<p>Qty: {{ item.quantity }}</p>
					</div>
				</div>
				<div class="ss-col-3">
					<h4>Unit price: ${{ item.product.price }}</h4>
					<button ng-click="deleteItem($index)" class="delete ss-button-danger ss-button-sm" product-id="{{ $index }}">Delete</button>
				</div>
			</div>
			<div ng-if="order_details.length === undefined">
				<h3>Cart empty!</h3>
				<a href="/">Home page >>></a>
			</div>
	</div>

	<div id="summary" class='ss-col-3'>
		<div>
			<h3>Subtotal: ${{ total }}</h2>
			<h4>Tax: Free</h4>
			<h4>Shipping: Free</h4>
			<ln-dashed/>
			<h2>Total: ${{ total }}</h2>
			<div ng-show="{{order_details !== undefined}}" id="paypal-button"></div>
			<p><button id="cancel" class="ss-button-danger ss-button-sm">Cancel</button></p>
		</div> 
	</div>

	<div class="ss-popup">
		<h3>Payment failed.</h3>
		<ln-dashed/>
		<br><br>
		<div>
			<button id="try-again" class="ss-button-default">Try again</button>
		</div>
	</div>
</section>