sidebar {
	border-right: solid 4px brown;
	background: #F7F7F7;
	display: inline-block;
}
sidebar form {
	padding: 20px;
}

section.ss-col-9 {
	padding: 0;
	#empty {
		margin: 20px;
		text-align: center;
		font-weight: bolder;
	}
}

.ss-panel {
	border: 2px solid brown;
	background: #F7F7F7;
}
.ss-panel a {
	text-decoration: none;
	color: black;
}
.ss-panel #ss-top {
	width: 100%;
	position: relative;
}
.ss-panel #ss-content {
	height: 200px;
}
.ss-pagination {
	float: right;
}

#sort {
	display: none;
}

#sort-button {
	display: none;
	text-align: center;
	font-size: 22px;
	font-weight: bolder;
	text-decoration: underline;
	cursor: pointer;
}

#sort:checked ~ sidebar {
	display: block;
}

@media (max-width: 768px) {
	sidebar {
		display: none;
	}

	#sort-button {
		display: block;
	}

	.ss-pagination {
		padding: 20px;
	}

	.ss-panel {
		margin: 20px;
	}
}