<form id="update-brand">
	<table>
		<tr>
			<td>
				<label for="name">Name:</label>
			</td>
			<td>
				<input id="name" class="nt-input-required" nt-validation-error-id="ss-name-error" type="text" ng-model="brand.name">
			</td>
			<td>
				<p id="ss-name-error" class="nt-validation-error"></p>
			</td>
		</tr>
		<tr>
			<td>
				<label for="color">Description:</label>
			</td>
			<td>
				<input id="color" class="" nt-validation-error-id="ss-color-error" type="text" ng-model="brand.description">
			</td>
			<td>
				<p id="ss-color-error" class="nt-validation-error"></p>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><button id="update">Update</button></td>
		</tr>
	</table>
</form>