<dir>
	<a href="#!/gender/create">+ ADD ...</a>
	<table id="data">
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="item in genders">
			<td>{{ item.id }}</td>
			<td>{{ item.name }}</td>
			<td>{{ item.description }}</td>
			<td>
				<button id="item-{{ item.id }}" class="delete" ng-click="genderDelete($event)">Delete</button>
				<a href="#!/gender/update/{{ item.id }}">Update</a>
			</td>
		</tr>
	</table>
	<div class="ss-pagination">
		<p>Total page: <span>{{ maxPage }}</span> | Items per page: <select id="itemsPerPage" ng-model="itemsPerPage"><option ng-repeat="item in itemsPerPageList">{{ item }}</option></select></p>
		<p><button id="back"><<< Back</button> | <button id="next">Next >>></button></p>
		<p>Go to page: <input id="page" ng-model="page" ng-init="page=0" type="text" name="" size="1"><input id="page-button" type="button" value="Go"></p>
	</div>
</dir>