<link rel="stylesheet" type="text/css" href="dist/css/home.css">

<div class="container">
	<h2>Welcome, Admin</h2>
	<div class="row">
		<div class="ss-col-6">
			<a href="#!/product/list"><img src="imgs/shoes-icon.png"></a>
		</div>
		<div class="ss-col-6">
			<a href="#!/order/list"><img src="imgs/order-icon.png"></a>
		</div>
		<div class="ss-col-6">
			<a href="#!/brand/list"><img src="imgs/brand-icon.png"></a>
		</div>
		<div class="ss-col-6">
			<a href="#!gender/list"><img src="imgs/gender-icon.png"></a>
		</div>
		<div class="ss-col-6">
			<a href="#!/brand/list"><img src="imgs/style-icon.png"></a>
		</div>
		<div class="ss-col-6">
			<a href="#!/question/list"><img src="imgs/question-icon.png"></a>
		</div>
	</div>
</div>