<link rel="stylesheet" type="text/css" href="dist/css/cart.css">

<section class="ss-row">
	<div id="cart" class="ss-col-9">
		<div id="item">
			<div class="ss-col-9">
				<div class="ss-col-6">
					<img src="imgs/shoes_sample.jpg" width="200" height="200">
				</div>
				<div class="ss-col-6">
					<h3>Shoes Name</h3>
					<p>Gender: Men</p>
					<p>Size: 9</p>
					<p>Color: Tan</p>
				</div>
			</div>
			<div class="ss-col-3">
				<h4>Price: $24.99</h4>
				<a href="#">Delete</a>
			</div>
		</div>
		<div id="item">
			<div class="ss-col-9">
				<div class="ss-col-6">
					<img src="imgs/shoes_sample.jpg" width="200" height="200">
				</div>
				<div class="ss-col-6">
					<h3>Shoes Name</h3>
					<p>Gender: Men</p>
					<p>Size: 9</p>
					<p>Color: Tan</p>
				</div>
			</div>
			<div class="ss-col-3">
				<h4>Price: $24.99</h4>
				<a href="#">Delete</a>
			</div>
		</div>
		<div id="item">
			<div class="ss-col-9">
				<div class="ss-col-6">
					<img src="imgs/shoes_sample.jpg" width="200" height="200">
				</div>
				<div class="ss-col-6">
					<h3>Shoes Name</h3>
					<p>Gender: Men</p>
					<p>Size: 9</p>
					<p>Color: Tan</p>
				</div>
			</div>
			<div class="ss-col-3">
				<h4>Price: $24.99</h4>
				<a href="#">Delete</a>
			</div>
		</div>
		<div id="item">
			<div class="ss-col-9">
				<div class="ss-col-6">
					<img src="imgs/shoes_sample.jpg" width="200" height="200">
				</div>
				<div class="ss-col-6">
					<h3>Shoes Name</h3>
					<p>Gender: Men</p>
					<p>Size: 9</p>
					<p>Color: Tan</p>
				</div>
			</div>
			<div class="ss-col-3">
				<h4>Price: $24.99</h4>
				<a href="#">Delete</a>
			</div>
		</div>
	</div>

	<div id="summary" class='ss-col-3'>
		<div>
			<h3>Subtotal: $24.99</h2>
			<h4>Tax: Free</h4>
			<h4>Shipping: Free</h4>
			<ln-dashed/>
			<h2>Total: $24.99</h2>
			<a id="paypal" href="#"><img src="imgs/paypal-icon.png" width="200" height="50"></a>
			<p><a href="#">Cancel</a></p>
		</div>
	</div>
</section>