<link rel="stylesheet" type="text/css" href="dist/css/home.css">

<div>
	<div class="ss-row">
		<div id="banner">
			<table id="container">
				<tr>
					<td id="contact">
						<h2>Open time:</h2>
						<p>Mon - Sun: 9am to 9pm</p>
						<a class="ss-button-default" href="#keep-in-touch">
							Message Us!
						</a>
					</td>
					<td id="introduction">
						<p>‘NAMO was born in Italy, on a culinary and cultural adventure to uncover the secrets behind the best pizza in the world. The passion, innovation and craftsmanship we discovered on the streets of Naples, is the energy that powers the kitchens at ‘NAMO today.</p>
						<p>‘Namo. Let’s go.</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="ss-row">
		<div id="shoes-brands" class="ss-col-9">
			<img src="../imgs/shoes_brands.jpg" width="100%" height="300px">
		</div>
		<div id="find-shoes" class="ss-col-3">
			<form>
				<div class="ss-row">
					<div class="ss-col-3">
						<label for="gender">Gender:</label>
					</div>
					<div class="ss-col-9">
						<select id="gender" class="ss-form-input-default" name="gender">
							<option>Male</option>
							<option>Male</option>
							<option>Male</option>
							<option>Male</option>
						</select>
					</div>
				</div>
				<div class="ss-row">
					<div class="ss-col-3">
						<label for="style">Style:</label>
					</div>
					<div class="ss-col-9">
						<select id="style" class="ss-form-input-default" name="style">
							<option>Slip-On</option>
							<option>Slip-On</option>
							<option>Slip-On</option>
							<option>Slip-On</option>
						</select>
					</div>
				</div>
				<div class="ss-row">
					<div class="ss-col-3">
						<label for="size">Size:</label>
					</div>
					<div class="ss-col-9">
						<select id="size" class="ss-form-input-default" name="size">
							<option>5</option>
							<option>5</option>
							<option>5</option>
							<option>5</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="ss-row">
					<div class="ss-col-3"></div>
					<div class="ss-col-9">
						<button class="ss-button-default">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="ss-row">
		<div id="keep-in-touch">
			<h2>Tell us what you want!</h2>
			<form>
				<div class="ss-row">
					<div class="ss-col-6">
						<div class="ss-col-3">
							<label for="firstname">First Name:</label>
						</div>
						<div class="ss-col-9">
							<input id="firstname" class="ss-form-input-default" placeholder="First Name">
						</div>
					</div>
					<div class="ss-col-6">
						<div class="ss-col-3">
							<label for="lastname">Last Name:</label>
						</div>
						<div class="ss-col-9">
							<input id="lastname" class="ss-form-input-default" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="ss-row">
					<div class="ss-col-6">
						<div class="ss-col-3">
							<label for="subject">Subject:</label>
						</div>
						<div class="ss-col-9">
							<input id="subject" class="ss-form-input-default" placeholder="Subject">
						</div>
					</div>
					<div class="ss-col-6">
						<div class="ss-col-3">
							<label for="email">Email:</label>
						</div>
						<div class="ss-col-9">
							<input id="email" class="ss-form-input-default" placeholder="Email">
						</div>
					</div>
				</div>
				<div class="ss-row">
					<div class="ss-col-3">
						<label for="message">Message:</label>
					</div>
					<div class="ss-col-9">
						<textarea id="message" class="ss-form-input-default" placeholder="Type your message here ..." cols="50" rows="5"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>