<div>
	<div id="shoes-image" class="ss-col-6">
		<img src="../imgs/shoes_sample.jpg">
	</div>

	<div id="shoes-details" class="ss-col-3">
		<h2>Shoes Name</h2>
		<h4><i>Shoes Brand</i></h4>
		<h3>Price: $20.99</h3>
		<div>
			<h3>Color:</h3>
			<select class="ss-form-input-default">
				<option>Red</option>
				<option>Red</option>
				<option>Red</option>
				<option>Red</option>
			</select>
		</div>
		<div>
			<h3>Size:</h3>
			<select class="ss-form-input-default">
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
			</select>
		</div>
	</div>

	<div id="cart" class="ss-col-3">
		<button class="ss-button-warning">Add to cart</button>
		<br><br>
		<button class="ss-button-danger">Checkout Now</button>
	</div>
</div>