<link rel="stylesheet" type="text/css" href="dist/css/list.css">

<div>
	<div class="ss-row">
		<sidebar class="ss-col-3">
			<form id="filter">
				<div id="gender" class="ss-row">
					<h3>Gender:</h3>
					<select name="gender" ng-model="filter.gender_id" class="ss-form-input-default">
						<option value="">Select Gender</option>
						<option ng-repeat="item in genders" value="{{ item.id }}">{{ item.name }}</option>
					</select>
				</div>
				<div id="Style" class="ss-row">
					<h3>Style:</h3>
					<select name="style" ng-model="filter.type_id" class="ss-form-input-default">
						<option value="">Select Style</option>
						<option ng-repeat="item in styles" value="{{ item.id }}">{{ item.name }}</option>
					</select>
				</div>
				<div id="Size" class="ss-row">
					<h3>Size:</h3>
					<select name="size" ng-model="filter.size" class="ss-form-input-default">
						<option value="">Select Size</option>
						<option ng-repeat="item in sizes" value="{{ item }}">{{ item }}</option>
					</select>
				</div>
				<div id="Price" class="ss-row">
					<h3>Price:</h3>
					<input type="text" id="pmin" ng-model="filter.pmin" class="ss-form-input-default" name="pmin" placeholder="Min price">
					<input type="text" id="pmax" ng-model="filter.pmax" class="ss-form-input-default" name="pmax" placeholder="Max price">
				</div>
				<div id="Brand" class="ss-row">
					<h3>Brand:</h3>
					<select  name="brand" ng-model="filter.brand_id" class="ss-form-input-default">
						<option value="">Select Brand</option>
						<option ng-repeat="item in brands" value="{{ item.id }}">{{ item.name }}</option>
					</select>
				</div>
			</form>
		</sidebar>

		<section class="ss-col-9">
			<div ng-repeat="item in shoes" class="ss-col-3">
				<div class="ss-panel">
					<a href="#!/item?id={{ item.id }}">
						<div id="ss-top">
							<img src="../imgs/shoes_sample.jpg" width="100%" height="">
						</div>
						<ln-dashed/>
						<div id="ss-content">
							<h4>{{ item.name }}</h4>
							<p>{{ item.brand.name }}</p>
							<h4>{{ item.price }}</h4>
							<h6>{{ item.gender.name }} | {{ item.color }} | Avail: {{ item.stock }}</h6>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
</div>